/* 
Written by: Viviannie De La Fuente
Tested by: Viviannie De La Fuente
Debugged by: Viviannie De La Fuente 
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
/* Back Button */
.btn-back, .btn{
    position:relative;
    background-color: #545474;
    border: none;
    color: #fff;
    padding: 13px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    text-transform: uppercase;
    border-radius:7px;
    top:15px;
    left: 15px;
    z-index:1;
}
.btn-back:hover {
    background: #42425D;
    cursor: pointer;
}

.btn-back:focus {
    outline: none;
} 
.img-reset{
    float: left;
    position: relative;
    bottom: 0px;
    z-index: -1000;
} 
body{
    position: relative;
    background-color: #e8e4ec;
    font-family: poppins, arial, sans-serif;
    font-weight: normal;
    color: black;
 }
 input{
     background-color: white;
 }

 h2{
     font-size: 28px;
     font-weight: bold;
 }
 
.container-info{
     position: relative;
     float: right;
     right:250px;
     top: 10px;
     z-index: 3000;
 }

 .wrapper{
     font-size: 17px;
     background-color: #e8e4ec;
     border: 5px none ;
     border-radius:20px 18px 18px 18px;
     position: relative;
     left: 5%;
     /* z-index: -1; */
 }

 



